[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-plugins/dotbot-vscode"]
	path = dotbot-plugins/dotbot-vscode
	url = https://github.com/hujianxin/dotbot-vscode
[submodule "dotbot-plugins/dotbot-brew"]
	path = dotbot-plugins/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
